.servicos img{
    height:300px;
    width:100%;
}

.carrossel img{
    height:600px;
    width:100%;
    
}

                                  
.sociais{
    padding: 20px;px;
}

.footer{
    background-color:#ccc;
    padding: 20px;px;
}





.menu2 a { 
      color: black #000;

      
      .menu{
        background-color: #ccc;
      
      height:  100px;
      }

      .menu a{
           color:#000
           
      }




}